*{
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 96vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to bottom, black , rgb(0, 0, 58) );
    background-attachment: fixed;
}

h1{
    color: white;
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
}
form{
    color: rgba(220, 20, 60, 0.781);
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(137, 139, 252, 0.226) ;
    padding: 20px 0px;
    width: 350px;
    border-radius: 15px;
    border-top:3px solid rgba(220, 20, 60, 0.568) ;
    border-left: 3px solid rgba(220, 20, 60, 0.568)  ;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.425);
}
p{
    padding-top: 10px;
    width: 75%;
    margin: auto;
    font-weight: 500;
}
input{
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    width: 75%;
    height: 18px;
    margin: auto;
}
textarea{
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    width: 75%;
    resize: vertical;
    margin: auto;

}
button:hover{
    background-image: linear-gradient(to bottom, transparent,rgb(18, 133, 62) );
}
button{
    transition-duration: 2s;
    font-size: 1.1rem;
    font-weight: normal;
    text-indent: 8px;
    width: 70%;
    height: 40px;
    border: 1px solid rgb(18, 133, 62);
    border-radius: 10px;
    margin:10px auto;
    display: block;
    background-color: rgba(18, 133, 62, 0.185);
    color: rgba(255, 255, 255, 0.856);
    background-image: linear-gradient(to bottom, rgb(18, 133, 62), transparent);

}
